<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>铭辉安防仿写练习</title>
    <link rel="stylesheet" href="{CSS_ADD}index\common.css">
</head>
<body>
<style>
    main{
        height:1200px;
    }
    .main-content img{
        border: 0;
        vertical-align: bottom;
        width: 100%;
        margin-bottom:40px;
    }
    .main-content p{
        font-size: 16px;
        line-height: 2;
    }
</style>

{include file=$header}

<div class="top-poster bgx" ura="{$parentInfo['imgurl']}">
    <div class="top-poster-text">
        <div class="top-poster-text1">{$parentInfo["info"]}</div>
        <div>{$parentInfo["exp"]}</div>
    </div>
</div>
<main>
    <div class="main-left">
        <div class="main-left-title">
            <div class="main-left-line">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="main-left-content">{$parentInfo["cname"]}</div>
        </div>
        <ul class="main-left-list">
            {foreach $silbing as $v}
            <li>
                <a href="/phpStudyTest/mvc2/index.php/index/lists?cid={$v['cid']}">
                    <img src="{IMG_ADD}icon11.png">{$v["cname"]}
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="main-left-bottom">
            <div class="main-left-bottom-text1">以人为本 用户至上</div>
            <div class="main-left-bottom-text2">让每个客户满意，让我们在长期的合作中实现共赢</div>
            <div class="main-left-bottom-text3">全国咨询热线</div>
            <div class="main-left-bottom-text4">15846066999 </div>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">
            <div class="main-right-title-content">{$parentInfo["cname"]}</div>
            <div class="main-title-location">
                您的当前位置：
                <a href="index.html">网站首页 </a>/
                <a href="about.html">{$parentInfo["cname"]} </a>/
                <a href="about.html">{$currentInfo["cname"]}</a>

            </div>
        </div>
        <div class="main-content">
            <!--{foreach $condata as $v}-->
                    <!--{$v["cons"]}-->
            <!--{/foreach}-->
            {$condata[0]["cons"]}
        </div>
    </div>

</main>
{include file=$footer}
<script>
    var informItem=document.querySelectorAll(".bgx");
    for(let i=0;i<informItem.length;i++){
        informItem[i].style.background="url("+informItem[i].getAttribute('ura')+")";
    }
</script>
</body>
</html>