<link rel="stylesheet" href="{CSS_ADD}index/footer.css">
<footer>
    <div class="footer-top">
        <div class="footer-top-inner">
            <div class="footer-left">
                <img src="{IMG_ADD}bottom-logo.png" alt="">
                <div class="footer-fx">
                    <img src="{IMG_ADD}QQ.png" alt="">
                    <img src="{IMG_ADD}wechat.png" alt="">
                </div>
                <div class="footer-beian">
                    <span>技术支持：龙采科技</span>
                    <span>备案号：黑ICP备17002433号</span>
                </div>
            </div>
            <div class="footer-middle">
                <div class="footer-middle-title">联系我们</div>
                <div class="footer-middle-content">
                    <span>总部地址：黑龙江省哈尔滨市南岗区宣普街32号</span>
                    <span>电话：王经理 15846066999</span>
                    <span>传真：0451-82536466</span>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-title">常用链接</div>
                <div class="footer-right-content">
                    <a href="#">联系我们</a>
                    <a href="#">新闻中心</a>
                    <a href="#">成功案例</a>
                    <a href="#">服务项目</a>
                    <a href="#">产品中心</a>
                    <a href="#">关于铭辉</a>
                    <a href="#">首页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">Copyright &copy; 2020 哈尔滨铭辉安防设备有限公司 All rights reserved</div>
</footer>